.container {
  padding-left: 20px;
}

.wordTitle {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

.partOfSpeech {
  font-style: italic;
  margin-top: 12px;
}

.synonymsList {
  margin: 6px 0;
  font-size: 14px;
}

.definition {
  cursor: pointer;
  color: #007aff;
}

.example {
  font-style: italic;
  color: gray;
  margin-left: 8px;
}
