<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>dictionary</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">dictionary</ion-title>
    </ion-toolbar>
  </ion-header>
  <p>Word: {{entry?.word}}</p>

  <p>1 Phonetic</p>
  <p>Text: </p>
  <p>Audio: </p>

  <p>Meanings</p>
  <p>Synonyms: </p>
  <p>Antonyms: </p>
  <p>Part of speech: </p>
  <p>Definition: </p>
  <p>Synonyms: </p>
  <p>Antonyms: </p>

  <p>Synonyms: </p>
  <p>Antonyms: </p>
  <p>Part of speech: </p>
  <p>Definition: </p>
  <p>Synonyms: </p>
  <p>Antonyms: </p>

  <p>Synonyms: </p>
  <p>Antonyms: </p>
  <p>Part of speech: </p>
  <p>Definition: </p>
  <p>Synonyms: </p>
  <p>Antonyms: </p>
</ion-content>
