<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Dictionary
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
	<input [(ngModel)]="searchText" (keydown.enter)="search()" placeholder="Search...">
	<ion-button (click)="search()">search</ion-button>
	<br>
	<ion-button (click)="goToHistory()">history</ion-button>
	<br>
	<ion-button (click)="randomWord()">I'm feeling lucky</ion-button>
  </div>
</ion-content>
